openapi: 3.0.3
info:
  contact:
    email: info@librematch.org
    name: Libre:Match Team
    url: https://librematch.org
  description:
    "stable, reliable and feature-rich API for match information, leaderboards,\
    \ and tournament organisation for the Age of Empires multiplayer community"
  license:
    name: GNU AGPLv3
    url: https://www.gnu.org/licenses/agpl.txt
    x-last-modified: 1665308784
  title: Libre:Match API
  version: 1.0.0-DRAFT
  x-logo:
    url: ""
servers:
  - description: Libre:Match Production Server v1
    url: https://api.librematch.org/v1
    x-last-modified: 1665308784
  - description: Libre:Match Development Server v1
    url: https://dev.librematch.org/v1
    x-last-modified: 1665308784
security:
  - BasicAuth: []
  - X-Api-Key: []
  - HttpAuth: []
paths:
  /profiles/search:
    description: Search endpoint
    get:
      description:
        "Search for a profile by Steam ID or name, returns a single `profile_id`\
        \ usable with other endpoints"
      operationId: get_profile_information_from_search
      parameters:
        - $ref: "#/components/parameters/exact"
        - $ref: "#/components/parameters/search_alias"
        - $ref: "#/components/parameters/search_steam_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      tags:
        - Search
  /dumps/{timeframe}:
    description: Download database dumps
    get:
      description: Download a database dump from a given timeframe
      operationId: get_database_dump_collection
      parameters:
        - $ref: "#/components/parameters/timeframe"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      tags:
        - Database
        - Statistics
    servers:
      - description: Override base path for all operations with the /dumps path
        url: https://dumps.librematch.org
  /games:
    get:
      operationId: get_game_identifier_collection
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve a list of all game identifiers for games
      tags:
        - Information
    summary: Endpoint for game-specific data
    x-last-modified: 1665308784
  /games/{game_id}/definitions:
    get:
      operationId: get_definition_collection_for_game
      parameters:
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/game_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access.
          x-last-modified: 1665308784
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all available definitions for a specific game
      tags:
        - Definition
    summary: "game-specific definitions, e.g. map names, civilisation names, translations"
    x-last-modified: 1665308784
  /games/{game_id}/info:
    get:
      operationId: get_info_collection_for_game
      parameters:
        - $ref: "#/components/parameters/game_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access.
          x-last-modified: 1665308784
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all available information for a specific game
      tags:
        - Information
    summary:
      "information about server maintenance times, DLC stuff, patch releases,\
      \ etc."
    x-last-modified: 1665308784
  /games/{game_id}/matches:
    get:
      operationId: get_match_collection_for_game
      parameters:
        - $ref: "#/components/parameters/match_uuid"
        - $ref: "#/components/parameters/status"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/game_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all matches for a specific game
      tags:
        - Match data
    summary:
      "match data spanning over the complete game (all leaderboards, basically\
      \ a log"
    x-last-modified: 1665308784
  /tournaments:
    delete:
      description: ""
      operationId: remove_all_tournaments
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Remove all tournaments
      tags:
        - Tournament Administration
    get:
      operationId: get_tournament_identifier_collection
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Retrieve all available tournaments for all games available on the Relic
        Link platform
      tags:
        - Information
        - Tournament Administration
    patch:
      description: ""
      operationId: partial_update_tournaments
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Partial update of tournaments
      tags:
        - Tournament Administration
    post:
      description: ""
      operationId: create_new_tournament
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Create a new tournament for a game available on the Relic Link platform
      tags:
        - Tournament Administration
    put:
      description: ""
      operationId: bulk_update_all_tournaments
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Bulk update of tournaments
      tags:
        - Tournament Administration
    summary: Endpoint for tournament information
    x-last-modified: 1665308784
  /profiles:
    get:
      operationId: get_profile_collection
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all available profiles
      tags:
        - Administration
    summary: Endpoint for player profiles on the Relic Link platform
    x-last-modified: 1665308784
  /profiles/{relic_link_id}:
    get:
      operationId: get_details_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"

          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve the details for a specific profile
      tags:
        - Information
    summary: Profile information for a Relic Link player_ID
    x-last-modified: 1665308784
  /profiles/{relic_link_id}/matches:
    get:
      operationId: get_match_collection_for_profile
      parameters:
        - $ref: "#/components/parameters/style"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/match_uuid"
        - $ref: "#/components/parameters/last_match"
        - $ref: "#/components/parameters/status"
        - deprecated: false
          description: Game identifier to query for
          explode: true
          in: query
          name: game
          required: false
          schema:
            $ref: "#/components/schemas/GameId"
        - deprecated: false
          description: Starting match
          explode: false
          in: query
          name: start
          required: false
          schema:
            $ref: "#/components/schemas/StartParam"
        - deprecated: false
          description: Number of entries to get
          explode: false
          in: query
          name: count
          required: false
          schema:
            $ref: "#/components/schemas/CountParam"
        - deprecated: false
          description: Only show matches starting after this Unix timestamp
          explode: false
          in: query
          name: since
          required: false
          schema:
            $ref: "#/components/schemas/SinceParam"
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all matches for a specific profile
      tags:
        - Match data
    summary: match data for a certain Relic Link profile
    x-last-modified: 1665308784
  /profiles/{relic_link_id}/ledger:
    get:
      operationId: get_ledger_collection_for_profile
      parameters:
        - $ref: "#/components/parameters/game_id"
        - deprecated: false
          description: Starting match
          explode: false
          in: query
          name: start
          required: false
          schema:
            $ref: "#/components/schemas/StartParam"
          style: form
        - deprecated: false
          description: Leaderboard identifier
          explode: false
          in: query
          name: leaderboard_id
          required: false
          schema:
            $ref: "#/components/schemas/Ulid"
          style: form
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve the rating ledger for a specific profile
      tags:
        - Match data
        - Ratings
    summary: Rating ledger a certain Relic Link profile
    x-last-modified: 1665308784
  /users:
    delete:
      description: ""
      operationId: remove_all_users
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Remove all users from our platform
      tags:
        - User Administration
    get:
      description: Authenticated Endpoint for Administrators or Libre:Match
      operationId: get_user_collection
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all users of our platform
      tags:
        - User Administration
    patch:
      description: ""
      operationId: partial_update_all_users
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      summary: Partially update details for all user profiles
      tags:
        - User Administration
    post:
      description: ""
      operationId: create_new_user
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "201":
          description: Created
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      summary: Create a new user for our platform
      tags:
        - Authentication
        - Account Registration
        - User Administration
    put:
      description: ""
      operationId: bulk_update_all_users
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      summary: Bulk update of all users of our platform
      tags:
        - User Administration
    summary: Endpoint for users of our API
    x-last-modified: 1665308784
  /users/{user_id}:
    delete:
      description: ""
      operationId: remove_user
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Remove user from our platform if it exists
      tags:
        - User Administration
    get:
      operationId: get_details_for_user
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve details for a specific user profile on our platform
      tags:
        - Information
        - User Administration
    patch:
      description: ""
      operationId: partial_update_user
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      summary: Update details for a specific user profile on our platform if it exists
      tags:
        - User Administration
    put:
      description: ""
      operationId: bulk_update_all_user_details
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      summary:
        Bulk update details for a specific user profile on our platform if
        it exists
      tags:
        - User Administration
    summary: user profile for an API user
    x-last-modified: 1665308784
  /users/login:
    post:
      operationId: user_login
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      tags:
        - Authentication
    summary: Login for users of our API
    x-last-modified: 1665308784
  /users/logout:
    get:
      operationId: user_logout
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      tags:
        - Authentication
    summary: Logout for users of our API
    x-last-modified: 1665308784
  /users/register:
    post:
      operationId: user_register
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      tags:
        - Account Registration
    summary: Registering as a new User to our API
    x-last-modified: 1665308784
  /users/validate:
    description:
      "Validate API tokens, can give information about how long a token\
      \ is still valid and help automating updating a token"
    get:
      operationId: get_user_validation_details
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      tags:
        - Authentication
        - API Token Validation
    post:
      operationId: create_new_user_validation
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
      tags:
        - Authentication
        - API Token Validation
    summary: Validation for a user account and api tokens used for our API
    x-last-modified: 1665308784
  /application:
    get:
      operationId: get_information_collection_for_application
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve a list of available application information
      tags:
        - Internal
        - Administration
    summary:
      "General information and data about Libre:Match app, e.g. API updates,\
      \ possible upcoming maintenance and other news/stuff"
    x-last-modified: 1665308784
  /application/statistics:
    get:
      operationId: get_stat_collection_for_application
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve a list of only application statistics
      tags:
        - Internal
        - Administration
    summary:
      "Statistics of Libre:Match, e.g. usage statistics, collection rate, overall\
      \ amount of users, etc."
    x-last-modified: 1665308784
  /application/status:
    get:
      operationId: get_status_collection_for_application
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "503":
          $ref: "#/components/responses/503"
      summary: Retrieve only application status
      tags:
        - Internal
        - Administration
        - Status Check
    summary: Status updates for health checks of our API
    x-last-modified: 1665308784
  /games/{game_id}:
    get:
      operationId: get_details_for_game
      parameters:
        - deprecated: false
          description:
            The unique identifier we use for games that use the Relic Link
            API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve details for a game with a specific identifiers
    summary: "game-specific definitions, e.g. map names, civilisation names, translations"
    x-last-modified: 1665308784
  /games/{game_id}/leaderboards:
    get:
      operationId: get_leaderboard_collection_for_game
      parameters:
        - deprecated: false
          description:
            The unique identifier we use for games that use the Relic Link
            API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all leaderboards for a specific game
      tags:
        - Leaderboards
    summary: Collection of leaderboard data spanning over the complete game
    x-last-modified: 1665308784
  /leaderboards/{leaderboard_id}:
    get:
      operationId: get_details_for_leaderboard
      parameters:
        - deprecated: false
          description: Search for a profile ID in a leaderboard
          explode: false
          in: query
          name: profile_id
          required: false
          schema:
            $ref: "#/components/schemas/RelicLinkId"
          style: form
        - deprecated: false
          description: Search for a name in a leaderboard
          explode: false
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/SearchParam"
          style: form
        - deprecated: false
          description: Starting rank
          explode: false
          in: query
          name: start
          required: false
          schema:
            $ref: "#/components/schemas/StartParam"
          style: form
        - $ref: "#/components/parameters/count"
        - deprecated: false
          description:
            The unique identifier (ULID) we use for leaderboards of the Relic
            Link API
          explode: false
          in: path
          name: leaderboard_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve details for a specific leaderboard
      tags:
        - Leaderboards
    summary: game-specific leaderboards on the Relic Link platform
    x-last-modified: 1665308784
  /leaderboards/{leaderboard_id}/stats:
    get:
      operationId: get_stat_collection_for_leaderboard
      parameters:
        - deprecated: false
          description:
            The unique identifier (ULID) we use for leaderboards of the Relic
            Link API
          explode: false
          in: path
          name: leaderboard_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all stats on a specific leaderboard for a certain game
      tags:
        - Leaderboards
        - Statistics
    summary: Collection of stats for a specific leaderboard
    x-last-modified: 1665308784
  /leaderboards/{leaderboard_id}/matches:
    get:
      operationId: get_match_collection_for_leaderboard
      parameters:
        - $ref: "#/components/parameters/status"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/since"
        - deprecated: false
          description:
            The unique identifier (ULID) we use for leaderboards of the Relic
            Link API
          explode: false
          in: path
          name: leaderboard_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all matches on a specific leaderboard for a certain game
      tags:
        - Leaderboards
        - Match data
    summary: Collection of match data for a specific leaderboard
    x-last-modified: 1665308784
  /leaderboards:
    get:
      operationId: get_leaderboard_collection
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
      summary: Retrieve all leaderboards
      tags:
        - Leaderboards
        - Information
    summary: Collection of all leaderboard data on the Relic Link platform
    x-last-modified: 1665308784
  /tournaments/{tournament_id}:
    delete:
      description: ""
      operationId: remove_tournament_details
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Remove a tournament for a specific game available on the Relic Link
        platform
      tags:
        - Administration
    get:
      operationId: get_details_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Retrieve details for a tournament for a specific game available on
        the Relic Link platform
      tags:
        - Information
    patch:
      description: ""
      operationId: partial_update_tournament_details
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Partially update a tournament for a specific game available on the
        Relic Link platform
      tags:
        - Administration
    put:
      description: ""
      operationId: update_tournament_details
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Update details for a tournament for a specific game
      tags:
        - Administration
    summary: game-specific tournaments
    x-last-modified: 1665308784
  /users/{user_id}/stats:
    delete:
      description: ""
      operationId: remove_all_user_stats
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Remove all stats for a specific user profile on our platform
      tags:
        - User Administration
    get:
      operationId: get_stat_collection_for_user
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all stats for a specific user profile on our platform
      tags:
        - Statistics
    patch:
      description: ""
      operationId: partial_update_user_stats
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Partially update stats for a specific user profile on our platform
      tags:
        - Administration
    post:
      description: ""
      operationId: create_new_user_stats
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "415":
          $ref: "#/components/responses/415"
        "501":
          $ref: "#/components/responses/501"
      summary: Create a new stat for a specific user profile on our platform
      tags:
        - Administration
    put:
      description: ""
      operationId: bulk_update_all_user_stats
      parameters:
        - $ref: "#/components/parameters/user_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Bulk update of stats for a specific user profile on our platform
      tags:
        - Administration
    summary: user profile for an API user
    x-last-modified: 1665308784
  /tournaments/{tournament_id}/info:
    get:
      operationId: get_info_collection_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all information for a specific tournament for a specific game
      tags:
        - Information
        - Tournaments
        - Tournament Administration
    summary: game-specific tournaments
    x-last-modified: 1665308784
  /tournaments/{tournament_id}/stats:
    get:
      operationId: get_stat_collection_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all statistics for a specific tournament for a specific game
      tags:
        - Statistics
        - Tournaments
        - Tournament Administration
    summary: game-specific tournaments
    x-last-modified: 1665308784
  /tournaments/{tournament_id}/matches:
    get:
      operationId: get_match_collection_for_tournament
      parameters:
        - $ref: "#/components/parameters/status"
        - $ref: "#/components/parameters/game_id"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all match data for a specific tournament for a specific game
      tags:
        - Match data
        - Tournaments
        - Tournament Administration
    summary: game-specific tournaments
    x-last-modified: 1665308784
  /tournaments/{tournament_id}/brackets:
    delete:
      description: ""
      operationId: remove_all_brackets_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Remove all brackets for a specific tournament for a specific game
      tags:
        - Tournament Administration
    get:
      operationId: get_bracket_collection_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all brackets for a specific tournament for a specific game
      tags:
        - Information
        - Tournaments
        - Tournament Administration
    patch:
      description: ""
      operationId: partial_update_bracket_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Partial update all brackets for a specific tournament for a specific
        game available on the Relic Link platform
      tags:
        - Administration
        - Tournament Administration
    post:
      description: ""
      operationId: create_new_bracket_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Create a new bracket for a specific tournament for a specific game
        available on the Relic Link platform
      tags:
        - Administration
        - Tournament Administration
    put:
      description: ""
      operationId: bulk_update_all_brackets_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Bulk update all brackets for a specific tournament for a specific game
        available on the Relic Link platform
      tags:
        - Administration
        - Tournament Administration
    summary: game-specific tournaments
    x-last-modified: 1665308784
  /tournaments/{tournament_id}/admins:
    delete:
      description: ""
      operationId: remove_all_admins_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Remove all admins for a specific tournament for a specific game
      tags:
        - Administration
        - Tournament Administration
    get:
      operationId: get_admin_collection_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Retrieve all admins for a specific tournament for a specific game available
        on the Relic Link platform
      tags:
        - Administration
        - Tournament Administration
    patch:
      description: ""
      operationId: partial_update_all_admins_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Update details of admins for a specific tournament for a specific game
        available on the Relic Link platform
      tags:
        - Administration
        - Tournament Administration
    post:
      description: ""
      operationId: create_new_admin_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Create a new admin for a specific tournament for a specific game available
        on the Relic Link platform
      tags:
        - Administration
        - Tournament Administration
    put:
      description: ""
      operationId: bulk_update_all_admins_for_tournament
      parameters:
        - $ref: "#/components/parameters/tournament_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Bulk update of admins for a specific tournament for a specific game
      tags:
        - Administration
        - Tournament Administration
    summary: Endpoint for tournament admins
    x-last-modified: 1665308784
  /teams:
    delete:
      description: ""
      operationId: remove_all_teams
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Remove all teams
      tags:
        - Teams
        - Team Administration
    get:
      operationId: get_team_collection
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all available teams
      tags:
        - Information
        - Teams
        - Team Administration
    patch:
      description: ""
      operationId: partial_update_all_teams
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Partial update of all teams
      tags:
        - Administration
        - Team Administration
    post:
      description: ""
      operationId: create_new_team
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Create a new team
      tags:
        - Administration
        - Team Administration
    put:
      description: ""
      operationId: bulk_update_all_teams
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Bulk update of teams
      tags:
        - Administration
        - Team Administration
    summary: Endpoint for team information
    x-last-modified: 1665308784
  /profiles/{relic_link_id}/settings:
    delete:
      description: ""
      operationId: remove_all_settings_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Remove all settings for a specific profile
      tags:
        - Profile Administration
        - Administration
    get:
      operationId: get_setting_collection_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all settings for a specific profile
      tags:
        - Profile Administration
        - Administration
        - Information
    patch:
      description: ""
      operationId: partial_update_all_settings_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Update a specific setting for a specific profile from the Relic Link
        API
      tags:
        - Profile Administration
        - Administration
    post:
      description: ""
      operationId: create_new_setting_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Create a new setting for a specific profile from the Relic Link API
      tags:
        - Profile Administration
        - Administration
    put:
      description: ""
      operationId: bulk_update_all_settings_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "415":
          $ref: "#/components/responses/415"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary:
        Bulk update of settings for a specific profile from the Relic Link
        API
      tags:
        - Profile Administration
        - Administration
    summary: Collection of settings specifically for a certain Relic Link profile
    x-last-modified: 1665308784
  /profiles/{relic_link_id}/stats:
    get:
      operationId: get_stat_collection_for_profile
      parameters:
        - $ref: "#/components/parameters/relic_link_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve all stats for a specific profile
      tags:
        - Statistics
    summary: Collection of statistics specifically for a certain Relic Link profile
    x-last-modified: 1665308784
  /teams/{team_id}:
    get:
      operationId: get_details_for_team
      parameters:
        - $ref: "#/components/parameters/team_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve details of a team
      tags:
        - Teams
        - Team Administration
    summary: Team information
    x-last-modified: 1665308784
  /teams/{team_id}/matches:
    get:
      operationId: get_match_collection_for_team
      parameters:
        - $ref: "#/components/parameters/status"
        - $ref: "#/components/parameters/game_id"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/team_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve a list of matches for a specific team
      tags:
        - Match data
    summary: Collection of match information for a team
    x-last-modified: 1665308784
  /teams/{team_id}/stats:
    get:
      operationId: get_stat_collection_for_team
      parameters:
        - $ref: "#/components/parameters/team_id"
      responses:
        default:
          $ref: "#/components/responses/401"
        "200":
          description: Operation succeeded
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "406":
          $ref: "#/components/responses/406"
        "429":
          $ref: "#/components/responses/429"
        "501":
          $ref: "#/components/responses/501"
      summary: Retrieve a list of stats for a specific team
      tags:
        - Statistics
        - Teams
        - Team Administration
    summary: Collection of stats for a team
    x-last-modified: 1665308784
components:
  headers:
    Authorization:
      description: Authorization header
      explode: false
      schema:
        $ref: "#/components/schemas/AuthorizationHeader"
      style: simple
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      explode: false
      schema:
        type: integer
      style: simple
    X-Transaction-ID:
      description:
        "When set by the client code with an alphanumeric value, the transaction\
        \ ID is logged in the log files for debugging. \nWhen the client is not specifying\
        \ this value, the server auto generates this value for the incoming request.\
        \ \nThe main purpose is to filter various logs at once for a single transaction\
        \ ID, to ease the debugging."
      explode: false
      schema:
        $ref: "#/components/schemas/Ulid"
      style: simple
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      explode: false
      schema:
        type: integer
      style: simple
    X-RateLimit-Reset:
      description:
        The number of seconds left in the current period until the rate
        limit resets
      explode: false
      schema:
        type: integer
      style: simple
    Pragma:
      deprecated: false
      description:
        Implementation-specific fields that may have various effects anywhere
        along the request-response chain.
      explode: false
      required: false
      schema:
        maxLength: 32
        pattern: "^example-[0-9a-z]+$"
        type: string
      style: simple
    If-Modified-Since:
      deprecated: false
      description: Allows a 304 Not Modified to be returned if content is unchanged.
      explode: false
      required: false
      schema:
        format: date-time
        type: string
      style: simple
    If-None-Match:
      deprecated: false
      description:
        "Allows a 304 Not Modified to be returned if content is unchanged,\
        \ see HTTP ETag."
      explode: false
      required: false
      schema:
        $ref: "#/components/schemas/Md5"
      style: simple
    WWW-Authenticate:
      deprecated: false
      description:
        Defines the HTTP authentication methods ("challenges") that might
        be used to gain access to a specific resource
      explode: false
      required: false
      schema:
        $ref: "#/components/schemas/WwwAuthenticate"
      style: simple
    Location:
      deprecated: false
      description: Response header to indicate the URL to redirect a page
      explode: false
      required: false
      schema:
        maxLength: 32
        pattern: "^example-[0-9a-z]+$"
        type: string
      style: simple
  parameters:
    count:
      deprecated: false
      description: Number of leaderboard entries to get
      explode: false
      in: query
      name: count
      required: false
      schema:
        $ref: "#/components/schemas/CountParam"
    since:
      deprecated: false
      description: Only show matches starting after this Unix timestamp
      explode: false
      in: query
      name: since
      required: false
      schema:
        $ref: "#/components/schemas/SinceParam"
    timeframe:
      deprecated: false
      description: The timeframe from which to download a database dump
      explode: false
      in: path
      name: timeframe
      required: true
      schema:
        $ref: "#/components/schemas/Timeframe"
      style: simple
      x-last-modified: 1665308784
    search_steam_id:
      deprecated: false
      description: The Steam ID to search a `profile_id` for
      explode: false
      in: query
      name: steam_id
      required: false
      schema:
        $ref: "#/components/schemas/SteamId"
      style: form
      x-last-modified: 1665308784
    search_alias:
      deprecated: false
      description:
        First 10 characters of a search string for name to search a `profile_id`
        for
      explode: false
      in: query
      name: alias
      required: false
      schema:
        $ref: "#/components/schemas/SearchParam"
      style: form
      x-last-modified: 1665308784
    exact:
      deprecated: false
      description: If only exact matches should be returned
      explode: false
      in: query
      name: exact
      required: false
      schema:
        type: boolean
      x-last-modified: 1665308784
    status:
      deprecated: false
      description: Match status identifiers to filter for
      explode: true
      in: query
      name: status
      required: false
      schema:
        $ref: "#/components/schemas/MatchStatus"
    last_match:
      deprecated: false
      description: Only show exactly the last available match
      explode: false
      in: query
      name: last_match
      required: false
      schema:
        type: boolean
      example: false
    match_uuid:
      deprecated: false
      description: Match ID to filter for its details
      explode: false
      in: query
      name: match_uuid
      required: false
      schema:
        $ref: "#/components/schemas/MatchId"
    language:
      deprecated: false
      name: language
      in: query
      description: "Language to receive content for"
      explode: true
      required: false
      schema:
        $ref: "#/components/schemas/LanguageString"
    style:
      deprecated: false
      name: style
      in: query
      description: "Style to receive content in"
      explode: false
      required: false
      schema:
        $ref: "#/components/schemas/ResponseStyle"
    relic_link_id:
      deprecated: false
      description:
        The unique identifier used by the Relic Link API for a player on
        their platform
      explode: false
      in: path
      name: relic_link_id
      required: true
      schema:
        $ref: "#/components/schemas/RelicLinkId"
      style: simple
      x-last-modified: 1665308784
    tournament_id:
      deprecated: false
      description: The unique identifier (ULID) we use for tournaments
      explode: false
      in: path
      name: tournament_id
      required: true
      schema:
        $ref: "#/components/schemas/Ulid"
      style: simple
      x-last-modified: 1665308784
    leaderboard_id:
      deprecated: false
      description:
        The unique identifier (ULID) we use for leaderboards of the Relic
        Link API
      explode: false
      in: path
      name: leaderboard_id
      required: true
      schema:
        $ref: "#/components/schemas/Ulid"
      style: simple
      x-last-modified: 1665308784
    game_id:
      deprecated: false
      description:
        The unique identifier we use for games that use the Relic Link
        API
      explode: false
      in: path
      name: game_id
      required: true
      schema:
        $ref: "#/components/schemas/GameId"
      style: simple
      x-last-modified: 1665308784
    team_id:
      deprecated: false
      description:
        The unique identifier (ULID) we use for teams that play on games
        using the Relic Link API
      explode: false
      in: path
      name: team_id
      required: true
      schema:
        $ref: "#/components/schemas/Ulid"
      style: simple
      x-last-modified: 1665308784
    user_id:
      deprecated: false
      description: The unique identifier (ULID) we use for users of our API
      explode: false
      in: path
      name: user_id
      required: true
      schema:
        $ref: "#/components/schemas/Ulid"
      style: simple
      x-last-modified: 1665308784
  responses:
    "200":
      description: Operation succeeded
      x-last-modified: 1665308784
    "201":
      description: Created
      x-last-modified: 1665308784
    "202":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Accepted"
      description: Accepted
      x-last-modified: 1665308784
    "204":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NoContent"
      description: No Content
      x-last-modified: 1665308784
    "304":
      description: Not Modified
      x-last-modified: 1665308784
    "400":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/IllegalInputError"
      description: Bad Request
      x-last-modified: 1665308784
    "401":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnauthorizedError"
      description: Unauthorized access
      x-last-modified: 1665308784
    "403":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ForbiddenError"
      description: Forbidden
      x-last-modified: 1665308784
    "404":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFoundError"
      description: Entity not found
      x-last-modified: 1665308784
    "406":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotAcceptableError"
      description: Not acceptable
      x-last-modified: 1665308784
    "408":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RequestTimeoutError"
      description: Request Timeout
      x-last-modified: 1665308784
    "415":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnsupportedMediaTypeError"
      description: Unsupported Media Type
      x-last-modified: 1665308784
    "429":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TooManyRequestsError"
      description: Too Many Requests
      x-last-modified: 1665308784
    "500":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServerError"
      description: Server Error
      x-last-modified: 1665308784
    "501":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotImplementedError"
      description: Not Implemented
      x-last-modified: 1665308784
    "503":
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceUnavailableError"
      description: Service Unavailable
      x-last-modified: 1665308784
  schemas:
    SinceParam:
      format: int64
      maximum: 1980923226
      minimum: 1602232026
      pattern: "^1[6-9]([0-9]){8}$"
      type: integer
      example: 1702232026
    MatchId:
      format: uuid
      pattern:
        "^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b\
        -[0-9a-fA-F]{12}$"
      type: string
      example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
    SteamId:
      format: int64
      maximum: 18
      minimum: 14
      pattern: "^7[0-9]{16}$"
      type: integer
      example: 76561197984749679
    SearchParam:
      description: First 10 characters of a search string
      format: string
      maxLength: 10
      pattern: "^.{10}$"
      type: string
      example: TheViper
    CountParam:
      format: int32
      maximum: 10000
      minimum: 1
      type: integer
      example: 1
    StartParam:
      format: int64
      maximum: 999999999
      minimum: 0
      type: integer
      example: 0
    ResponseStyle:
      description: Styling the response is send in
      enum:
        - compact
        - full
      type: string
      default: compact
      example: compact
      x-last-modified: 1665308784
    LanguageString:
      format: string
      maxLength: 5
      minLength: 2
      pattern: "^([a-z]{2}){1}\b(-[A-Z]{2}){0,1}$"
      type: string
      example: en
    AuthorizationHeader:
      additionalProperties: false
      properties:
        self:
          format: string
          maxLength: 33
          type: string
      required:
        - self
      type: object
      x-last-modified: 1665308784
    WwwAuthenticate:
      additionalProperties: false
      properties:
        self:
          format: string
          maxLength: 33
          type: string
      required:
        - self
      type: object
      x-last-modified: 1665308784
    Md5:
      format: string
      maxLength: 33
      maximum: 33
      pattern: "^[a-fA-F0-9]{32}$"
      type: string
      x-last-modified: 1665308784
    Timeframe:
      format: string
      maxLength: 15
      maximum: 15
      pattern: "^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"
      type: string
      x-last-modified: 1665308784
    RelicLinkId:
      format: int64
      maximum: 999999999
      minimum: 0
      type: integer
      example: 196240
      x-last-modified: 1665308784
    MatchStatus:
      description: Match statuses
      enum:
        - drafting
        - ongoing
        - finished
      type: string
      default: finished
      example: ongoing
      x-last-modified: 1665308784
    GameId:
      description: Supported games by Relic Link API
      enum:
        - aoe1de
        - aoe2de
        - aoe3de
        - aoe4
      type: string
      example: aoe2de
      x-last-modified: 1665308784
    Ulid:
      format: ulid
      maxLength: 26
      maximum: 26
      minimum: 26
      pattern: "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
      type: string
      example: 4Y89HG5TKRF7BGMMSQMRPZ6S1B
      x-last-modified: 1665308784
    UnsupportedMediaTypeError:
      additionalProperties: false
      properties:
        message:
          title: message
          type: string
        code:
          maximum: 415
          minimum: 415
          title: code
          type: integer
      required:
        - code
        - message
      title: UnsupportedMediaTypeError
      type: object
      x-last-modified: 1665308784
    ServiceUnavailableError:
      additionalProperties: false
      properties:
        message:
          type: string
        code:
          maximum: 503
          minimum: 503
          type: integer
      required:
        - code
        - message
      type: object
      x-last-modified: 1665308784
    NotImplementedError:
      additionalProperties: false
      properties:
        message:
          title: message
          type: string
        code:
          maximum: 501
          minimum: 501
          title: code
          type: integer
      required:
        - code
        - message
      title: NotImplementedError
      type: object
      x-last-modified: 1665308784
    TooManyRequestsError:
      additionalProperties: false
      properties:
        message:
          title: message
          type: string
        code:
          maximum: 429
          minimum: 429
          title: code
          type: integer
      required:
        - code
        - message
      title: TooManyRequestsError
      type: object
      x-last-modified: 1665308784
    RequestTimeoutError:
      additionalProperties: false
      properties:
        message:
          type: string
        code:
          maximum: 408
          minimum: 408
          type: integer
      required:
        - code
        - message
      type: object
      x-last-modified: 1665308784
    NotAcceptableError:
      additionalProperties: false
      properties:
        message:
          title: message
          type: string
        code:
          maximum: 406
          minimum: 406
          title: code
          type: integer
      required:
        - code
        - message
      title: NotAcceptableError
      type: object
      x-last-modified: 1665308784
    NotFoundError:
      additionalProperties: false
      properties:
        message:
          title: message
          type: string
        code:
          maximum: 404
          minimum: 404
          title: code
          type: integer
      required:
        - code
        - message
      title: NotFoundError
      type: object
      x-last-modified: 1665308784
    ForbiddenError:
      additionalProperties: false
      properties:
        message:
          title: message
          type: string
        code:
          maximum: 403
          minimum: 403
          title: code
          type: integer
      required:
        - code
        - message
      title: ForbiddenError
      type: object
      x-last-modified: 1665308784
    Accepted:
      additionalProperties: false
      properties:
        message:
          type: string
        code:
          maximum: 202
          minimum: 202
          type: integer
      required:
        - code
        - message
      type: object
      x-last-modified: 1665308784
    NoContent:
      additionalProperties: false
      properties:
        message:
          maxLength: 32
          pattern: "^example-[0-9a-z]+$"
          title: No Content
          type: string
        code:
          maximum: 204
          minimum: 204
          type: integer
      required:
        - code
        - message
      type: object
      x-last-modified: 1665308784
    IllegalInputError:
      additionalProperties: false
      properties:
        message:
          maxLength: 32
          pattern: "^example-[0-9a-z]+$"
          title: Bad Request
          type: string
        code:
          maximum: 400
          minimum: 400
          type: integer
      required:
        - code
        - message
      type: object
      x-last-modified: 1665308784
    UnauthorizedError:
      additionalProperties: false
      properties:
        message:
          maxLength: 32
          pattern: "^example-[0-9a-z]+$"
          title: Unauthorized access
          type: string
        code:
          maximum: 401
          minimum: 401
          title: code
          type: integer
      required:
        - code
        - message
      title: UnauthorizedError
      type: object
      x-last-modified: 1665308784
    ServerError:
      additionalProperties: false
      properties:
        message:
          type: string
        code:
          maximum: 599
          minimum: 500
          type: integer
      required:
        - code
        - message
      type: object
      x-last-modified: 1665308784
  securitySchemes:
    BasicAuth:
      description: "Example: \n> Authorization: <Sample>"
      in: header
      name: BasicAuth
      type: apiKey
      x-last-modified: 1665308784
    X-Api-Key:
      description: "Example: \n> X-Api-Key: ZGVtbzpwQDU1dzByZA=="
      in: header
      name: X-Api-Key
      type: apiKey
      x-last-modified: 1665308784
    JWTAuth:
      bearerFormat: JWT
      description: "Example: \n> Authorization: Bearer <token>"
      scheme: bearer
      type: http
      x-last-modified: 1665308784
    HttpAuth:
      type: http
      scheme: basic
