openapi: 3.0.3
info:
  contact:
    email: info@librematch.org
    name: Libre:Match Team
    url: https://librematch.org
  description:
    "stable, reliable and feature-rich API for match information, leaderboards,\
    \ and tournament organisation for the Age of Empires multiplayer community"
  license:
    name: GNU AGPLv3
    url: https://www.gnu.org/licenses/agpl.txt
    x-last-modified: 1665308784
  title: Libre:Match API
  version: 1.0.0-DRAFT
  x-logo:
    url: ""
servers:
  - description: Libre:Match Production Server v1
    url: https://api.librematch.org/v1
    x-last-modified: 1665308784
  - description: Libre:Match Development Server v1
    url: https://dev.librematch.org/v1
    x-last-modified: 1665308784
security:
  - BasicAuth: []
  - X-Api-Key: []
paths:
  /profiles/search:
    description: "Search endpoint"
    get:
      description: "Search for a profile by Steam ID or name, returns a single `profile_id` usable with other endpoints"
      operationId: get_profile_information_from_search
      parameters:
        - deprecated: false
          description: "First 10 characters of a search string for name to search a `profile_id` for"
          explode: false
          in: query
          name: by_name
          required: false
          schema:
            $ref: "#/components/schemas/SearchParam"
          x-last-modified: 1665308784
        - deprecated: false
          description: The Steam ID to search a `profile_id` for
          explode: false
          in: query
          name: by_steam_id
          required: false
          schema:
            $ref: "#/components/schemas/SteamId"
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      tags:
        - Search
  /dumps/{timeframe}:
    description: Download database dumps
    get:
      description: Download a database dump from a given timeframe
      operationId: get_database_dump_collection
      parameters:
        - deprecated: false
          description: The timeframe from which to download a database dump
          explode: false
          in: path
          name: timeframe
          required: true
          schema:
            $ref: "#/components/schemas/Timeframe"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      tags:
        - Database
        - Statistics
    servers:
      - description: Override base path for all operations with the /dumps path
        url: https://dumps.librematch.org
  /games:
    get:
      operationId: get_game_identifier_collection
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve a list of all game identifiers for games
      tags:
        - Information
    summary: Endpoint for game-specific data
    x-last-modified: 1665308784
  /games/{game_id}/definitions:
    get:
      operationId: get_definition_collection_for_game
      parameters:
        - in: query
          deprecated: false
          explode: false
          name: language
          required: false
          schema:
            $ref: "#/components/schemas/LanguageString"
          description: "The language to query definitions for that are being used by the API (Default: 'en')"
        - deprecated: false
          description: The unique identifier we use for games that use the Relic
            Link API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access.
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all available definitions for a specific game
      tags:
        - Definition
    summary: "game-specific definitions, e.g. map names, civilisation names, translations"
    x-last-modified: 1665308784
  /games/{game_id}/info:
    get:
      operationId: get_info_collection_for_game
      parameters:
        - deprecated: false
          description: The unique identifier we use for games that use the Relic
            Link API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access.
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all available information for a specific game
      tags:
        - Information
    summary:
      "information about server maintenance times, DLC stuff, patch releases,\
      \ etc."
    x-last-modified: 1665308784
  /games/{game_id}/matches:
    get:
      operationId: get_match_collection_for_game
      parameters:
        - required: false
          in: query
          explode: false
          deprecated: false
          name: single_match
          schema:
            $ref: "#/components/schemas/MatchId"
          description: "Match ID to filter for its details"
        - required: false
          in: query
          explode: true
          deprecated: false
          name: status
          schema:
            $ref: "#/components/schemas/MatchStatus"
          description: "Match status identifiers to filter for"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: count
          schema:
            $ref: "#/components/schemas/CountParam"
          description: "Number of leaderboard entries to get"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: since
          schema:
            $ref: "#/components/schemas/SinceParam"
          description: "Only show matches starting after this Unix timestamp"
        - deprecated: false
          description: The unique identifier we use for games that use the Relic
            Link API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all matches for a specific game
      tags:
        - Match data
    summary:
      "match data spanning over the complete game (all leaderboards, basically\
      \ a log"
    x-last-modified: 1665308784
  /tournaments:
    delete:
      description: ""
      operationId: remove_all_tournaments
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Remove all tournaments
      tags:
        - Tournament Administration
    get:
      operationId: get_tournament_identifier_collection
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary:
        Retrieve all available tournaments for all games available on the Relic
        Link platform
      tags:
        - Information
        - Tournament Administration
    patch:
      description: ""
      operationId: partial_update_tournaments
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Partial update of tournaments
      tags:
        - Tournament Administration
    post:
      description: ""
      operationId: create_new_tournament
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Create a new tournament for a game available on the Relic Link platform
      tags:
        - Tournament Administration
    put:
      description: ""
      operationId: bulk_update_all_tournaments
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Bulk update of tournaments
      tags:
        - Tournament Administration
    summary: Endpoint for tournament information
    x-last-modified: 1665308784
  /profiles:
    get:
      operationId: get_profile_collection
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all available profiles
      tags:
        - Administration
    summary: Endpoint for player profiles on the Relic Link platform
    x-last-modified: 1665308784
  /profiles/{relic_link_id}:
    get:
      operationId: get_details_for_profile
      parameters:
        - deprecated: false
          description:
            The unique identifier used by the Relic Link API for a player
            on their platform
          explode: false
          in: path
          name: relic_link_id
          required: true
          schema:
            $ref: "#/components/schemas/RelicLinkId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve the details for a specific profile
      tags:
        - Information
    summary: Profile information for a Relic Link player_ID
    x-last-modified: 1665308784
  /profiles/{relic_link_id}/matches:
    get:
      operationId: get_match_collection_for_profile
      parameters:
        - required: false
          in: query
          explode: false
          deprecated: false
          name: last_match
          schema:
            type: boolean
          description: "Only show exactly the last available match"
        - required: false
          in: query
          explode: true
          deprecated: false
          name: status
          schema:
            $ref: "#/components/schemas/MatchStatus"
          description: "Match status identifiers to filter for"
        - required: false
          in: query
          explode: true
          deprecated: false
          name: game
          schema:
            $ref: "#/components/schemas/GameId"
          description: "Game identifier to query for"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: start
          schema:
            $ref: "#/components/schemas/StartParam"
          description: "Starting match"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: count
          schema:
            $ref: "#/components/schemas/CountParam"
          description: "Number of entries to get"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: since
          schema:
            $ref: "#/components/schemas/SinceParam"
          description: "Only show matches starting after this Unix timestamp"
        - deprecated: false
          description:
            The unique identifier used by the Relic Link API for a player
            on their platform
          explode: false
          in: path
          name: relic_link_id
          required: true
          schema:
            $ref: "#/components/schemas/RelicLinkId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all matches for a specific profile
      tags:
        - Match data
    summary: match data for a certain Relic Link profile
    x-last-modified: 1665308784
  /profiles/{relic_link_id}/ledger:
    get:
      operationId: get_ledger_collection_for_profile
      parameters:
        - required: false
          in: query
          explode: true
          deprecated: false
          name: game
          schema:
            $ref: "#/components/schemas/GameId"
          description: "Game identifier to query for"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: start
          schema:
            $ref: "#/components/schemas/StartParam"
          description: "Starting match"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: leaderboard_id
          schema:
            $ref: "#/components/schemas/Ulid"
          description: "Leaderboard identifier"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: count
          schema:
            $ref: "#/components/schemas/CountParam"
          description: "Number of leaderboard entries to get"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: since
          schema:
            $ref: "#/components/schemas/SinceParam"
          description: "Only show matches starting after this Unix timestamp"
        - deprecated: false
          description:
            The unique identifier used by the Relic Link API for a player
            on their platform
          explode: false
          in: path
          name: relic_link_id
          required: true
          schema:
            $ref: "#/components/schemas/RelicLinkId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve the rating ledger for a specific profile
      tags:
        - Match data
        - Ratings
    summary: Rating ledger a certain Relic Link profile
    x-last-modified: 1665308784
  /users:
    delete:
      description: ""
      operationId: remove_all_users
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Remove all users from our platform
      tags:
        - User Administration
    get:
      description: Authenticated Endpoint for Administrators or Libre:Match
      operationId: get_user_collection
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all users of our platform
      tags:
        - User Administration
    patch:
      description: ""
      operationId: partial_update_all_users
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Partially update details for all user profiles
      tags:
        - User Administration
    post:
      description: ""
      operationId: create_new_user
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "201":
          description: Created
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Create a new user for our platform
      tags:
        - Authentication
        - Account Registration
        - User Administration
    put:
      description: ""
      operationId: bulk_update_all_users
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Bulk update of all users of our platform
      tags:
        - User Administration
    summary: Endpoint for users of our API
    x-last-modified: 1665308784
  /users/{user_id}:
    delete:
      description: ""
      operationId: remove_user
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Remove user from our platform if it exists
      tags:
        - User Administration
    get:
      operationId: get_details_for_user
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve details for a specific user profile on our platform
      tags:
        - Information
        - User Administration
    patch:
      description: ""
      operationId: partial_update_user
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Update details for a specific user profile on our platform if it exists
      tags:
        - User Administration
    put:
      description: ""
      operationId: bulk_update_all_user_details
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary:
        Bulk update details for a specific user profile on our platform if
        it exists
      tags:
        - User Administration
    summary: user profile for an API user
    x-last-modified: 1665308784
  /users/login:
    post:
      operationId: user_login
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      tags:
        - Authentication
    summary: Login for users of our API
    x-last-modified: 1665308784
  /users/logout:
    get:
      operationId: user_logout
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      tags:
        - Authentication
    summary: Logout for users of our API
    x-last-modified: 1665308784
  /users/register:
    post:
      operationId: user_register
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      tags:
        - Account Registration
    summary: Registering as a new User to our API
    x-last-modified: 1665308784
  /users/validate:
    description:
      "Validate API tokens, can give information about how long a token\
      \ is still valid and help automating updating a token"
    get:
      operationId: get_user_validation_details
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      tags:
        - Authentication
        - API Token Validation
    post:
      operationId: create_new_user_validation
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      tags:
        - Authentication
        - API Token Validation
    summary: Validation for a user account and api tokens used for our API
    x-last-modified: 1665308784
  /application:
    get:
      operationId: get_information_collection_for_application
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve a list of available application information
      tags:
        - Internal
        - Administration
    summary:
      "General information and data about Libre:Match app, e.g. API updates,\
      \ possible upcoming maintenance and other news/stuff"
    x-last-modified: 1665308784
  /application/statistics:
    get:
      operationId: get_stat_collection_for_application
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve a list of only application statistics
      tags:
        - Internal
        - Administration
    summary:
      "Statistics of Libre:Match, e.g. usage statistics, collection rate, overall\
      \ amount of users, etc."
    x-last-modified: 1665308784
  /application/status:
    get:
      operationId: get_status_collection_for_application
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "503":
          description: Service Unavailable
          x-last-modified: 1665308784
      summary: Retrieve only application status
      tags:
        - Internal
        - Administration
        - Status Check
    summary: Status updates for health checks of our API
    x-last-modified: 1665308784
  /games/{game_id}:
    get:
      operationId: get_details_for_game
      parameters:
        - deprecated: false
          description: The unique identifier we use for games that use the Relic
            Link API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve details for a game with a specific identifiers
    summary: "game-specific definitions, e.g. map names, civilisation names, translations"
    x-last-modified: 1665308784
  /games/{game_id}/leaderboards:
    get:
      operationId: get_leaderboard_collection_for_game
      parameters:
        - deprecated: false
          description: The unique identifier we use for games that use the Relic
            Link API
          explode: false
          in: path
          name: game_id
          required: true
          schema:
            $ref: "#/components/schemas/GameId"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all leaderboards for a specific game
      tags:
        - Leaderboards
    summary: Collection of leaderboard data spanning over the complete game
    x-last-modified: 1665308784
  /leaderboards/{leaderboard_id}:
    get:
      operationId: get_details_for_leaderboard
      parameters:
        - required: false
          in: query
          explode: false
          deprecated: false
          name: profile_id
          schema:
            $ref: "#/components/schemas/RelicLinkId"
          description: "Search for a profile ID in a leaderboard"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: search
          schema:
            $ref: "#/components/schemas/SearchParam"
          description: "Search for a name in a leaderboard"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: start
          schema:
            $ref: "#/components/schemas/StartParam"
          description: "Starting rank"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: count
          schema:
            $ref: "#/components/schemas/CountParam"
          description: "Number of leaderboard entries to get"
        - deprecated: false
          description:
            The unique identifier (ULID) we use for leaderboards of the Relic
            Link API
          explode: false
          in: path
          name: leaderboard_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve details for a specific leaderboard
      tags:
        - Leaderboards
    summary: game-specific leaderboards on the Relic Link platform
    x-last-modified: 1665308784
  /leaderboards/{leaderboard_id}/stats:
    get:
      operationId: get_stat_collection_for_leaderboard
      parameters:
        - deprecated: false
          description:
            The unique identifier (ULID) we use for leaderboards of the Relic
            Link API
          explode: false
          in: path
          name: leaderboard_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Retrieve all stats on a specific leaderboard for a certain game
      tags:
        - Leaderboards
        - Statistics
    summary: Collection of stats for a specific leaderboard
    x-last-modified: 1665308784
  /leaderboards/{leaderboard_id}/matches:
    get:
      operationId: get_match_collection_for_leaderboard
      parameters:
        - required: false
          in: query
          explode: true
          deprecated: false
          name: status
          schema:
            $ref: "#/components/schemas/MatchStatus"
          description: "Match status identifiers to filter for"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: count
          schema:
            $ref: "#/components/schemas/CountParam"
          description: "Number of leaderboard entries to get"
        - required: false
          in: query
          explode: false
          deprecated: false
          name: since
          schema:
            $ref: "#/components/schemas/SinceParam"
          description: "Only show matches starting after this Unix timestamp"
        - deprecated: false
          description:
            The unique identifier (ULID) we use for leaderboards of the Relic
            Link API
          explode: false
          in: path
          name: leaderboard_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all matches on a specific leaderboard for a certain game
      tags:
        - Leaderboards
        - Match data
    summary: Collection of match data for a specific leaderboard
    x-last-modified: 1665308784
  /leaderboards:
    get:
      operationId: get_leaderboard_collection
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
          x-last-modified: 1665308784
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
      summary: Retrieve all leaderboards
      tags:
        - Leaderboards
        - Information
    summary: Collection of all leaderboard data on the Relic Link platform
    x-last-modified: 1665308784
  /tournaments/{tournament_id}:
    delete:
      description: ""
      operationId: remove_tournament_details
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for tournaments
          explode: false
          in: path
          name: tournament_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary:
        Remove a tournament for a specific game available on the Relic Link
        platform
      tags:
        - Adminstration
    get:
      operationId: get_details_for_tournament
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for tournaments
          explode: false
          in: path
          name: tournament_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary:
        Retrieve details for a tournament for a specific game available on
        the Relic Link platform
      tags:
        - Information
    patch:
      description: ""
      operationId: partial_update_tournament_details
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for tournaments
          explode: false
          in: path
          name: tournament_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary:
        Partially update a tournament for a specific game available on the
        Relic Link platform
      tags:
        - Adminstration
    put:
      description: ""
      operationId: update_tournament_details
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for tournaments
          explode: false
          in: path
          name: tournament_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Update details for a tournament for a specific game
      tags:
        - Adminstration
    summary: game-specific tournaments
    x-last-modified: 1665308784
  /users/{user_id}/stats:
    delete:
      description: ""
      operationId: remove_all_user_stats
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Remove all stats for a specific user profile on our platform
      tags:
        - User Adminstration
    get:
      operationId: get_stat_collection_for_user
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Retrieve all stats for a specific user profile on our platform
      tags:
        - Statistics
    patch:
      description: ""
      operationId: partial_update_user_stats
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
          description: Unsupported Media Type
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotImplementedError"
          description: Not Implemented
          x-last-modified: 1665308784
      summary: Partially update stats for a specific user profile on our platform
      tags:
        - Adminstration
    post:
      description: ""
      operationId: create_new_user_stats
      parameters:
        - deprecated: false
          description: The unique identifier (ULID) we use for users of our API
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/Ulid"
          style: simple
          x-last-modified: 1665308784
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
        "200":
          description: Operation succeeded
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedError"
          description: Unauthorized access
          x-last-modified: 1665308784
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenError"
          description: Forbidden
          x-last-modified: 1665308784
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundError"
          description: Entity not found
          x-last-modified: 1665308784
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotAcceptableError"
          description: Not acceptable
          x-last-modified: 1665308784
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TooManyRequestsError"
          description: Too Many Requests
          x-last-modified: 1665308784
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedMediaTypeError"
[...]
